<!DOCTYPE html>

  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="container-fluid" id="main" ng-app="NPRTicker" ng-controller="getNews">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h1 id="title">News from npr:</h1>
              <div id="outer">
                <div id="inner">
                    <div id="ticker">
                    <div class="temp"></div>
                      <div id="news">
                          <ul>
                            <li ng-repeat="headline in headlines" ng-if="story_index === $index">{{headline}}</li>
                          </ul>
                      </div>
                    </div>
                </div>
              </div>
              <h3 id="ext">Find the rest on these stories <a href="http://www.npr.org/" target="_blank">here</a></h3>
          </div>
        </div>
    </div>

  </body>
</html>